<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ siteName }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ url('/') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url('/posts') }}">Posts</a>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}

        {{ craft.vite.script("src/js/app.ts") }}
        {% block scripts %}{% endblock %}
    </body>
</html>
