{% extends "_layouts/base" %}

{% block content %}
    <div id="async-posts-container"></div>
{% endblock %}

{% block scripts %}
    {{ craft.vite.script('src/js/pages/async-posts/index.ts') }}
{% endblock %}